entrypoint = "bot.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "bot.js"]
deploymentTarget = "gce"
ignorePorts = true

[objectStorage]
defaultBucketID = "replit-objstore-9b0cfc71-0832-46e3-baf8-d1c85e5ef7a9"
